:root {
  --color-black: #000000;
  --color-light: #efefef;
  --color-white: #ffffff;
  --color-accent: #f13c6e;
  --color-gray: #333333;
  --color-light-brown: #C4C4C4;
  --color-dark-brown: #828282;
  --container-width: 1110px;
  --gap: 20px;
  --gap-xs: 10px;
  --gap-sm: 15px;
  --gap-lg: 30px;
  --gap-xl: 40px;

  --font-family: "Roboto";
  --font-size: 16px;
  --line-height-lg: 1.43;
  --line-height-sm: 1.167;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  font-size: 0.875rem;
  background-color: var(--color-light);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;

}

.container {
  width: min(100% - var(--gap) * 2, var(--container-width));
  margin-inline: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25em 1em;
  min-width: 170px;
  min-height: 40px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  cursor: pointer;
}

.navbar-secondary {
  order: -1;
  min-height: 50px;
}

.navbar-secondary__list {
  list-style: none;
  gap: 0 var(--gap-xs);
}

.flex-content-center {
  display: flex;
  justify-content: center;
}

.navbar-secondary__link {
  display: block;
  padding: 7px var(--gap-xs);
}

.navbar-info {
  background-color: var(--color-white);
  margin-bottom: 1px;
  padding: 20px 0;
}

.navbar-info__body {
  gap: var(--gap);
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

.logo__link {
  gap: var(--gap);
}

.logo__titel {
  color: var(--color-accent);
  font-size: 36px;
  line-height: var(--line-height-sm);
  letter-spacing: 0.1em;
}

.feedback {
  gap: var(--gap-xl);
}

.feedback__phone {
  font-size: var(--font-size);
  line-height: 19px;
}

.feedback__button {
  background: var(--color-white);
  border-color: var(--color-accent);
}

.navbar-primary {
  padding: 20px;
  min-height: 76px;
  background-color: var(--color-white);
  order: 1;
}

.navbar-primary__list {
  list-style: none;
  gap: 0 var(--gap);
}

.navbar-primary__link {
  display: block;
  padding: 7px var(--gap-xs);
  font-size: 1rem;
}

.hero {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 192px 0;
  background-image: url(img/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__content {
  gap: var(--gap-xl);
  max-width: 310px;
}

.hero__titel {
  font-size: 48px;
  line-height: var(--line-height-sm);
  margin: 0;
}

.hero__description {
  line-height: var(--line-height-lg);
  margin-bottom: 5px;
  word-break: break-all;
}

.hero__button {
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-white);
}

.special-offer {
  padding: 33px 0 80px;
  display: inline-block;
  margin: 0 auto;
}

.special-offer__list {
  gap: var(--gap-lg);
}

.content {
  background-color: var(--color-white);
}

.special-offer__titel {
  font-weight: 700;
  font-size: 24px;
  line-height: var(--line-height-sm);
  padding: 40px 0;
}

.special-offer__item {
  width: 255px;
}

.special-offer__image {
  padding: 25px 0;
  justify-content: center;
  align-items: center;
}

.special-offer__description {
  font-size: 14px;
  line-height: 20px;
  width: 165px;
  color: var(--color-gray);
  padding: 15px 0 10px;
  word-break: break-all;
}

.special-offer__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}

.special-offer__btn {
  background: var(--color-accent);
  border-radius: 30px;
  padding: 10px;
  width: 130px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-white);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.sending-messages {
  background-color: var(--color-accent);
  padding: 35px 40px;
  flex: 1 0;
}

.sending-messages__descrioption {
  gap: 22px;
}

.sending-messages__header {
  font-weight: 700;
  font-size: 18px;
  line-height: var(--line-height-sm);
}

.sending-messages__text {
  color: var(--color-white);
}

.sending-messages__email {
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  padding: 9px 25px;
  border: var(--color-white);
  font-family: var(--font-family);
  max-width: 225px;
}

input::placeholder {
  opacity: 0.5;
}

.store-map {
  background-color: var(--color-accent);
  padding: 35px 40px;
  flex: 1 0;
  gap: var(--gap);
}

.store-map___descrioption {
  gap: 22px;
}

.store-map___header {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.store-map___map {
  background: var(--color-accent);
  border: 2px solid var(--color-white);
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 9px;
  max-width: 170px;
}

.advertisment {
  color: var(--color-white);
  gap: var(--gap-xl);
  font-family: var(--font-family);
  margin-top: 20px;
}

.advertisment__text {
  font-size: 14px;
  line-height: 20px;
}

.brand-logo {
  margin-top: 100px;
}

.brand-logo__row {
  display: flex;
  margin-bottom: 1px;
}

.brand-logo__row a {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  background-color: var(--color-white);
  margin-right: 1px;
}

.footer {
  background-color: var(--color-white);
}

.footer__body {
  display: flex;
  gap: var(--gap-lg);
}

.navbar-categories {
  flex: 1 0;
  margin-bottom: 1px;
}

.navbar-categories__header {
  border-bottom: 1px solid var(--color-light);
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 140.62%;
  margin-top: 55px;
  padding-bottom: 26px;
  margin-bottom: 20px;
}

.navbar-categories__list {
  list-style: none;
}

.navbar-categories__item {
  font-size: 12px;
  line-height: 28px;
  color: var(--color-dark-brown);
}

.footer-contacts {
  border-top: 1px solid var(--color-light);
  margin-top: 50px;
  padding-top: 37px;
  align-items: center;
  padding-bottom: 35px;
}

.footer-contacts__list {
  display: flex;
  gap: var(--gap);
}

.footer-contacts__item {
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid var(--color-accent);
  border-radius: 23px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  background-color: var(--color-light);
  padding: 25px;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: var(--color-dark-brown);
}

.special-offer-other {
  padding: 33px 0 80px;
  display: inline-block;
  margin: 0 auto;
}